In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob, os
base_path="/content/drive/MyDrive/AI/section3 project data/"

In [ ]:
df = pd.read_csv(base_path + "pdtt.csv")

In [ ]:
tp = df.dropna()

In [ ]:
tp = tp.drop('Unnamed: 0', axis=1)

In [ ]:
tp

In [ ]:
tp = tp.drop(['Other greenhouse gas emissions, HFC, PFC and SF6 (thousand metric tons of CO2 equivalent)'], axis=1)

In [ ]:
tp.columns = ['Country','year','Population','CO2','CO2mt','CO2gask','CO2liquidk','CO2solidk','Methane','NO','HRC','PFC','SF6','Total','GlobTemp','Wheat','Corn','Soybean']

In [ ]:
tp1 = tp[tp['Country'].str.contains('income')].index

In [ ]:
tp.drop(tp1, inplace=True)

In [ ]:
tp

In [ ]:
tp2 = tp[tp['Country'].str.contains('World')].index

In [ ]:
tp.drop(tp2, inplace=True)

In [ ]:
tp

In [ ]:
tp3 = tp[tp['Country'].str.contains('OECD')].index

In [ ]:
tp.drop(tp3, inplace=True)

In [ ]:
tp

In [ ]:
tp4 = tp[tp['Country'].str.contains('IDA & IBRD')].index

In [ ]:
tp.drop(tp4, inplace=True)

In [ ]:
tp

In [ ]:
tp5 = tp[tp['Country'].str.contains('demographic')].index

In [ ]:
tp.drop(tp5, inplace=True)

In [ ]:
tp

In [ ]:
tp['Country'].unique()

In [ ]:
tp.to_csv('tt.csv', index=False)

In [ ]:
tt = tp.copy()

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

encode_columns = ['year', 'Country']
encode_df = tp[encode_columns]
encode_df = encode_df.astype('str')
encode_df = encode_df.apply(LabelEncoder().fit_transform)
score_encode_drop = tp.drop(encode_columns, axis = 1)
score_encode = pd.concat([score_encode_drop, encode_df], axis = 1)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
linear = make_pipeline(
    StandardScaler(),  
    LinearRegression()
)

In [ ]:
X = score_encode.drop(['GlobTemp', 'Wheat','Corn','Soybean','year','Country'],axis=1)
y = score_encode['GlobTemp']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [ ]:
X_train

In [ ]:
linear.fit(X_train, y_train)

preds = linear.predict(X_test)
print('R^2', linear.score(X_test, y_test))

In [ ]:
preds

In [ ]:
import pickle

pickle.dump(linear, open('model1.pkl','wb'))

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

# csv import to SQL database

In [ ]:
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD '1234';"

In [ ]:
import psycopg2 as ps
from sqlalchemy import create_engine as ce

pgconn = ps.connect(host = 'localhost',
port = '5432',
user = 'postgres', password = '1234')

In [ ]:
#pgconn.close()

In [ ]:
pgconn = ps.connect(host = 'localhost',
port = '5432', database = 'postgres',
user = 'postgres', password = '1234')

In [ ]:
# driver://username:password@server/database
pg_engine = ce("postgresql+psycopg2://postgres:1234@localhost:5432/postgres")
tt.to_sql('tt', pg_engine, if_exists='replace', index=False)

In [ ]:
host = 'localhost'
dbname = 'postgres'
port = '5432'
username = 'postgres'
password = '1234'
conn = None
try:
  conn = ps.connect(
      host = host,
      dbname = dbname,
      user = username,
      password = password,
      port = port)
    
  cur=conn.cursor()
  create_script = """ CREATE TABLE CO2 ( 
                      Country  VARCHAR(255) NULL,
                      year INTEGER NULL,
                      Population FLOAT NULL,	
                      CO2mt	FLOAT NULL,
                      CO2gask	FLOAT NULL,
                      CO2liquidk	FLOAT NULL,
                      CO2solidk	FLOAT NULL,
                      Methane	FLOAT NULL,
                      NO FLOAT NULL,	
                      HFC	FLOAT NULL,
                      PFC	FLOAT NULL,
                      SF6	FLOAT NULL,
                      Total	FLOAT NULL,
                      GlobTemp FLOAT NULL,	
                      Wheat FLOAT NULL,	
                      Corn FLOAT NULL,
                      Soybean FLOAT NULL)"""

  cur.execute(create_script)
  conn.commit()




except Exception as error:
  print(error)
finally:
  if cur is not None:
    cur.close()
  if conn is not None:
    conn.close()

In [ ]:
def connect_to_db(host, dbname, port, username, password):
  try:
    conn = ps.connect(host=host, database=dbname, user=username, password=password, port=port)

  except ps.OperationalError as e:
    raise e
  else:
    print('Connected')
  return conn

In [ ]:
host = 'localhost'
dbname = 'postgres'
port = '5432'
username = 'postgres'
password = '1234'
conn = None

conn = connect_to_db(host, dbname, port, username, password)

In [ ]:
# google data studio link
# https://datastudio.google.com/reporting/2ebc7ec1-9b1c-49bc-a1be-27ed2990c6a0